<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} | %-5level | %logger{30} | %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
            <queueSize>256</queueSize>
            <discardingThreshold>0</discardingThreshold>
        </appender>

        <logger name="org.niikage.planr" level="DEBUG"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.flywaydb" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss} %-5level %logger{25} %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
            <queueSize>256</queueSize>
            <discardingThreshold>20</discardingThreshold>
        </appender>

        <logger name="org.niikage.planr" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.flywaydb" level="WARN"/>
        <logger name="io.r2dbc" level="WARN"/>
        <logger name="reactor.netty" level="WARN"/>

        <root level="WARN">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>

</configuration>